case_study_elena/data/lh/
case_study_elena/data/siteLH/
case_study_elena/data/site_congruence/
case_study_elena/data/weight_calibration/
pipeline/training_data/
pipeline/plots/
pipeline/.ipynb_checkpoints/
pipeline/morph_alignments/
pipeline/morph_parquets/
pipeline/temp/
