case_study_elena/data/lh/
case_study_elena/data/siteLH/
case_study_elena/data/site_congruence/
case_study_elena/data/weight_calibration/
case_study_elena/.ipynb_checkpoints
case_study_elena/data/trait_association/delta_statistics/
case_study_elena/delta_statistics/deltas/
case_study_elena/delta_statistics/rd_output/
case_study_elena/delta_statistics/rerooted_trees/


pipeline/training_data/
pipeline/plots/
pipeline/.ipynb_checkpoints/
pipeline/alignments/
pipeline/parquets/
pipeline/temp/
pipeline/raxml-ng

uncertainties/dunnielex_multi/
uncertainties/dunnielex_nexus_wrong/
uncertainties/dunnliex_nexus_fixed/
uncertainties/output/
uncertainties/temp/
uncertainties/ref_trees/
uncertainties/qdist
uncertainties/raxml-ng
uncertainties/.ipynb_checkpoints/

database_conversion/alignment_downloads/
database_conversion/alignment_uploads/
database_conversion/alignment_backup/
database_conversion/raw/
database_conversion/conversion_inputs/
database_conversion/duplicate_check/
database_conversion/temp/
database_conversion/.ipynb_checkpoints/
database_conversion/unused/alignments/
database_conversion/catg/
database_conversion/metadata/

