case_study_elena/data/lh/
case_study_elena/data/siteLH/
case_study_elena/data/site_congruence/
case_study_elena/data/weight_calibration/
case_study_elena/.ipynb_checkpoints
pipeline/training_data/
pipeline/plots/
pipeline/.ipynb_checkpoints/
pipeline/alignments/
pipeline/parquets/
pipeline/temp/
pipeline/raxml-ng
uncertainties/dunnielex_multi/
uncertainties/dunnielex_nexus_wrong/
uncertainties/dunnliex_nexus_fixed/
uncertainties/output/
uncertainties/temp/
uncertainties/ref_trees/
uncertainties/qdist
uncertainties/.ipynb_checkpoints/
